<div> <!--    class="container"-->
  <!--  <div><h2 class="container">S2T</h2></div>-->
  <nav class="c-column teal lighten-2">  <!--  class="nav-bar red darken-1"-->
    <ul class="c-row c-s20 teal lighten-2 c-left2p">
<!--      <li class="c-s20"><a routerLink="/dds" routerLinkActive="active" ariaCurrentWhenActive="page">DDS</a></li>-->
      <li class="c-s20"><a routerLink="/dds" routerLinkActive="active" ariaCurrentWhenActive="page">DDS/DM</a></li>
            <li class="c-s20"><a routerLink="/ods" routerLinkActive="active" ariaCurrentWhenActive="page">ODS</a></li>
    </ul>
  </nav>
</div>

<router-outlet></router-outlet>
